* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Container principal das notícias */
#noticias {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para cada notícia */


.noticia h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #2c3e50;
}

.noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

.noticia p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
}

.noticia small {
    font-size: 0.9rem;
    color: #777;
}

img {
    width: 400px;
    height: 200px;
}
p {
    text-align: justify;
    width: 400px
}

hr {
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 20px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .noticia h2 {
        font-size: 1.6rem;
    }

    .noticia p {
        font-size: 1rem;
    }
}